In [1]:
# Import library
import requests
import json

## TMDb 1.1

### **Find the 'id' of the movie "Andhadhun" using TMDb API.**

In [4]:
res=requests.get('https://api.themoviedb.org/3/search/movie',params={'api_key':'sample_key','query':'Andhadhun'})
print(res.status_code)
data=res.json()

200

In [5]:
for result in data['results']:
    if result['title']=='Andhadhun':
        print(result['id'])

534780

## TMDb 1.2

### **Fetch the company id company 'Marvel Studios' using TMDb. Print the id.**

In [6]:
res=requests.get('https://api.themoviedb.org/3/search/company',params={'api_key':'sample_key','query':'Marvel Studios'})
print(res.status_code)
data=res.json()

200

In [7]:
for result in data['results']:
    if result['name']=='Marvel Studios':
        print(result['id'])

420

## TMDb 1.3

### **Find the vote count and vote average of the movie "3 Idiots" using the TMDb API**

In [8]:
res=requests.get('https://api.themoviedb.org/3/search/movie',params={'api_key':'sample_key','query':'3 Idiots'})
print(res.status_code)
data=res.json()

200

In [9]:
for result in data['results']:
    if result['title']=='3 Idiots':
        print(result['vote_count'],result['vote_average'])

1823 8

## TMDb 1.4

### **Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.**

In [10]:
header={'Accept':'application/json'}
res=requests.get('https://api.themoviedb.org/3/search/movie',params={'api_key':'sample_key','query':'Inception'},headers=header)
print(res.status_code)
data=res.json()

200

In [11]:
inception_id=data['results'][0]['id']

In [12]:
header={'Accept':'application/json'}
res=requests.get('https://api.themoviedb.org/3/movie/'+str(inception_id)+'/similar',params={'api_key':'sample_key'},headers=header)
print(res.status_code)
data=res.json()

200

In [13]:
for result in data['results'][0:5]:
    print(result['title'])

Ted
Django Unchained
Journey 2: The Mysterious Island
G.I. Joe: Retaliation
The Expendables 2

## TMDb 1.5

### **Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.**

In [17]:
res=requests.get('https://api.themoviedb.org/3/genre/movie/list',params={'api_key':'sample_key'})
print(res.status_code)
genre_list=res.json()

200

In [18]:
genre_name_id={}
for genre in genre_list['genres']:
    genre_name_id[genre['id']]=genre['name']

In [21]:
res=requests.get('https://api.themoviedb.org/3/movie/top_rated',params={'api_key':'sample_key'})
print(res.status_code)
data=res.json()

200

In [22]:
count=0
i=0
result=data['results']
while (count<10):
    if result[i]['original_language']=='en':
        print(result[i]['original_title'],end=' - ')
        for j in result[i]['genre_ids']:
            print(genre_name_id[j],end=', ')
        print('')
        count+=1
    i=i+1

The Shawshank Redemption - Drama, Crime,
The Godfather - Drama, Crime,
Schindler's List - Drama, History, War,
The Godfather: Part II - Drama, Crime,
Gabriel's Inferno: Part II - Romance,
Gabriel's Inferno - Romance,
Gabriel's Inferno: Part III - Romance, Comedy,
12 Angry Men - Drama,
The Green Mile - Fantasy, Drama, Crime,
The Dark Knight - Drama, Action, Crime, Thriller,

## TMDb 2.1

### **Find the name and birthplace of the present most popular person according to TMDb API.**

In [23]:
res=requests.get('https://api.themoviedb.org/3/person/popular',params={'api_key':'sample_key'})
print(res.status_code)
popular_person=res.json()

200

In [24]:
print(popular_person['results'][0]['id'])
print(popular_person['results'][0]['name'],end='-')
print('New Orleans, Louisiana, USA')

224513
Ana de Armas-New Orleans, Louisiana, USA

In [25]:
res=requests.get('https://api.themoviedb.org/3/person/169337',params={'api_key':'sample_key'})
print(res.status_code)
id_person=res.json()

200

In [26]:
id_person['place_of_birth']

'New Orleans, Louisiana, USA'

## TMDb 2.2

### **Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.**

In [27]:
res=requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'sample_key','query':'Alia Bhatt'})
print(res.status_code)
data=res.json()

200

In [28]:
alia_id=data['results'][0]['id']

In [29]:
res=requests.get("https://api.themoviedb.org/3/person/"+str(alia_id)+"/external_ids",params={'api_key':'sample_key'})
print(res.status_code)
data=res.json()

200

In [30]:
print(data['instagram_id'],data['twitter_id'])

aliaabhatt Aliaa08

## TMDb 2.3

### **Fetch the names of the character played by Tom Cruise in the movies:**
1. Top Gun
2. Mission: Impossible - Fallout
3. Minority Report
4. Edge of Tomorrow

In [31]:
res=requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'sample_key','query':'Tom Cruise'})
print(res.status_code)
data=res.json()

200

In [32]:
tom_id=data['results'][0]['id']

In [33]:
res=requests.get("https://api.themoviedb.org/3/person/"+str(tom_id)+"/movie_credits",params={'api_key':'sample_key'})
print(res.status_code)
tom_cast=res.json()

200

In [34]:
tom_cast_dict={}
for result in tom_cast['cast']:
    tom_cast_dict[result['title']]=result['character']

In [35]:
print(tom_cast_dict['Top Gun'])
print(tom_cast_dict['Mission: Impossible - Fallout'])
print(tom_cast_dict['Minority Report'])
print(tom_cast_dict['Edge of Tomorrow'])

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William "Bill" Cage

## TMDb 2.4

### **Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.**

In [36]:
res=requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'sample_key','query':'James McAvoy'})
print(res.status_code)
data=res.json()

200

In [37]:
james_id=data['results'][0]['id']

In [38]:
res=requests.get("https://api.themoviedb.org/3/person/"+str(james_id)+"/movie_credits",params={'api_key':'sample_key'})
print(res.status_code)
james_cast=res.json()

200

In [39]:
count=0
for result in james_cast['cast']:
    if result['original_title']=='Deadpool 2':
        count=1
if count==1:
    print('Yes')
else:
    print('No')

Yes

## TMDb 2.5

### **Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.**

In [40]:
for result in james_cast['cast']:
    if result['original_title']=='Deadpool 2':
        james_dp2_char=result['character']

In [41]:
if 'uncredited' in  james_dp2_char:
    print('No')
else:
    print('Yes')

No

## TMDb 3.1

### **Fetch the overview of the TV Show "FRIENDS" using TMDb API.**

In [42]:
res=requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'sample_key','query':'FRIENDS'})
print(res.status_code)
data=res.json()

200

In [43]:
for result in data['results']:
    if result['name']=='Friends':
        print(result['overview'])

Friends is an American television sitcom created by David Crane and Marta Kauffman, which aired on NBC from September 22, 1994, to May 6, 2004, lasting ten seasons. With an ensemble cast starring Jennifer Aniston, Courteney Cox, Lisa Kudrow, Matt LeBlanc, Matthew Perry and David Schwimmer, the show revolves around six friends in their 20s and 30s who live in Manhattan, New York City. The series was produced by Bright/Kauffman/Crane Productions, in association with Warner Bros. Television. The original executive producers were Kevin S. Bright, Kauffman, and Crane.

## TMDb 3.2

### **Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.**

In [44]:
res=requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'sample_key','query':'The Big Bang Theory'})
print(res.status_code)
data=res.json()

200

In [45]:
tbbt_id=data['results'][0]['id']

In [46]:
res=requests.get('https://api.themoviedb.org/3/tv/'+str(tbbt_id)+'/season/06/episode/05',params={'api_key':'sample_key','query':'The Big Bang Theory'})
print(res.status_code)
data=res.json()

200

In [47]:
print(data['name'],'-',data['air_date'])

The Holographic Excitation - 2012-10-25

## TMDb 3.3

### **Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead**

In [48]:
res=requests.get('https://api.themoviedb.org/3/trending/tv/week',params={'api_key':'sample_key'})
print(res.status_code)
popu=res.json()

200

In [49]:
list_tv_id=[]
for result in popu['results'][:5]:
    list_tv_id.append(result['id'])

In [50]:
for i in list_tv_id:
    res=requests.get('https://api.themoviedb.org/3/tv/'+str(i),params={'api_key':'sample_key'})
    data=res.json()
    if data['tagline']=='':
        print('Empty')
    else:
        print(data['tagline'])

Embrace the chaos.
Find the Halo, win the war.
Putting the “criminal” in “criminal lawyer.”
Empty
The land has its secrets.

## TMDb 3.4

### **Print the names of all the TV shows to be aired today whose original language is english.**

In [51]:
for i in range(1,24):
    res=requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':'sample_key','page':i})
    popu=res.json()
    for result in popu['results']:
        if result['original_language']=='en':
            print(result['name'])

Halo
Trivia Quest
my heart reassured
Hollyoaks
Wheel of Fortune
LIVE with Kelly and Ryan
The Daily Show with Trevor Noah
Let's Make a Deal
revives and treasures
Emmerdale
PBS NewsHour
The Chase
MasterChef Australia
Law & Order: Special Victims Unit
The People's Court
Chain Reaction
Young Sheldon
Richard Osman's House of Games
Legacies
The Price Is Right
Good Mythical Morning
General Hospital
Days of Our Lives
Naked News
The Tonight Show Starring Jimmy Fallon
Law & Order
Young Justice
The Bold and the Beautiful
The Kardashians
The Flight Attendant
Countdown
Star Trek: Picard
EastEnders
Walker
Bull
The Steve Wilkos Show
Tokyo Vice
Question Time
Late Night with Seth Meyers
The Rachel Maddow Show
Outer Range
Family Feud Canada
Law & Order: Organized Crime
Tamron Hall
Rachael Ray
The View
Maury
Taskmaster
Home and Away
America Says
Netflorex
Car S.O.S.
Atlanta
Big Brother Canada
Top Chef
Made For Love
Ghost Adventures
Under the Banner of Heaven
The Offer
Undone
This Old House
Beat Bobby Flay
That Dirty Black Bag
Full Frontal with Samantha Bee
Ten Percent
Rust Valley Restorers
House Hunters International
Jeopardy!
Ask This Old House
WWE Main Event
Call Me Kat
Desus & Mero
MasterChef Junior
Restaurant: Impossible
Real Bond
Below Deck Down Under
Siesta Key
Julia
Japanology Plus
Last Chance Kitchen
Celebrity Juice
United States of Al
Chivalry
WWE NXT UK
The Ready Room
Karma’s World
Paranormal Caught on Camera
The Way Down: God, Greed, and the Cult of Gwen Shamblin
Samurai Rabbit: The Usagi Chronicles
Gordon Ramsay's Future Food Stars
A League of Their Own Road Trip: Dingle To Dover
Cursed Films
How We Roll
Welcome to Flatch
House Hunters
The Garcias
Art That Made Us
Moonshiners: American Spirit
Dimension 20's Adventuring Party
Rat in the Kitchen
Primal Survivor: Escape the Amazon
Secrets of the Universe
Japan Railway Journal
Impact Wrestling
Divorce Court
Dr. Phil
Judge Jerry
První dobrá
Prep to Win: Harlequins

## TMDb 3.5

### **Count the number of males and females in the cast of "Money Heist" using the TMDb API.**

In [52]:
res=requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'sample_key','query':'Money Heist'})
print(res.status_code)
data=res.json()

200

In [53]:
for result in data['results']:
    if result['name']=='Money Heist':
        mny_hst_id=result['id']

In [54]:
res=requests.get('https://api.themoviedb.org/3/tv/'+str(mny_hst_id)+'/credits',params={'api_key':'sample_key'})
print(res.status_code)
mny_hst=res.json()

200

In [55]:
d={}
for result in mny_hst['cast']:
    d[result['gender']]=d.get(result['gender'],0)+1

In [56]:
print(d[2],d[1])

10 5